* {
    margin: 0;
    padding: 0;
}


/* FORMULÁRIO DE JOGADORES */

.players {
    width: 90%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 50px auto;
    padding: 2%;
}

.players form label {
    font-size: 15pt;
    float: left;
    margin-left: 30px;
}

.players form .campoInput,
.players form button {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2% auto;
    padding: 1%;
}

.players form .campoInput {
    width: 90%;
    height: 35px;
    font-size: 18pt;
    outline: none;
}

.players form button {
    width: 95%;
    font-size: 12pt;
}

.players form button:hover {
    background: #218838;
    color: #fff;
    cursor: pointer;
    transform: scale(1.02);
    transition: .4s;
}


/* CONTEÚDO DO JOGO */

.jogo {
    display: none;
}


/*  Informações: */

.jogo .informacoes {
    width: 90%;
    font-size: 17pt;
    color: #fff;
    background-color: #006699;
    margin: 0 auto 20px auto;
    padding: 10px;
    position: relative;
}

.jogo .informacoes p {
    margin: 10px auto;
}


/* Jogo: */

.jogo .container {
    width: 500px;
    height: 500px;
    background: #cecece;
    border: 1px solid #000;
    margin: 20px auto;
    position: relative;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "c1 c2 c3" "c4 c5 c6" "c7 c8 c9";
    justify-content: space-between;
    align-content: space-between;
}

.jogo .container .casa {
    position: relative;
    font-size: 30pt;
    border: 1px solid #069;
}

.jogo .container .casa:hover {
    background: #b8b2b2;
    cursor: pointer;
}

.jogo .container .casa span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vezAtual {
    font-size: 25pt;
    font-weight: bold;
    transition: .4s;
}

#casa0 {
    grid-area: c1;
}

#casa1 {
    grid-area: c2;
}

#casa2 {
    grid-area: c3;
}

#casa3 {
    grid-area: c4;
}

#casa4 {
    grid-area: c5;
}

#casa5 {
    grid-area: c6;
}

#casa6 {
    grid-area: c7;
}

#casa7 {
    grid-area: c8;
}

#casa8 {
    grid-area: c9;
}


/* Mensagem vencedor */

.jogo .resultado {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    float: left;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.jogo .resultado h1 {
    font-size: 30pt;
    margin: 170px auto 20px auto;
}

.jogo .resultado h2 {
    display: table;
    margin: 0 auto;
}

.jogo .resultado a {
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
    background: #069;
    border-radius: 8px;
    margin: 30px auto;
    padding: 2%;
    display: table;
    opacity: .8;
}

.jogo .resultado a:hover {
    opacity: 1;
    transition: .4s;
}

.finalizado {
    opacity: .2;
}


/* RESPONSIVIDADE */

@media screen and (max-width: 500px) {
    .jogo .container {
        width: 300px;
        height: 300px;
    }
}